<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
  rel="stylesheet"
/>
<div class="pageMainContainer">
  <img class="background" src="../../assets/imgs/background.png" />
  <div class="contentMainContainer">
    <div class="topContainer">
      <div class="backContainer">
        <img class="arrow_back" src="../../assets/imgs/arrow_back.png" />
        <a>Back</a>
      </div>
      <div class="stepContainer">
        <p class="step">STEP 02/03</p>
        <p class="personal">Residency Info.</p>
      </div>
    </div>
    <div class="contentContainer">
      <h1>Complete Your Profile!</h1>
      <p class="title">
        For the purpose of industry regulation, your <br />
        details are required.
      </p>
      <!-- <hr /> -->
      <div class="hrDiv"></div>
      <form [formGroup]="stepTwoForm" id="step2Form">
        <div class="inputDiv">
          <label>Phone number</label>
          <div class="relativeDiv">
            <img class="flag" src="../../assets/imgs/flag.png" />
            <select
              class="mobileNumSelect"
              id="numbers"
              name="numList"
              form="step2Form"
            >
              <option value="234">+234</option>
              <option value="995">+995</option>
              <option value="235">+235</option>
              <option value="733">+733</option>
            </select>
            <input
              class="mobileNumInput"
              type="tel"
              placeholder="090912345567"
              formControlName="mobilenom"
            />
            <img class="check" src="../../assets/imgs/check.png" />
          </div>
          <div
            class="error-container"
            *ngIf="
              mobilenom?.invalid && (mobilenom?.touched || mobilenom?.dirty)
            "
          >
            <p
              class="error"
              *ngIf="mobilenom?.invalid &&  mobilenom?.errors?.['required']"
            >
              Mobile No. Is Required
            </p>
            <p
              class="error"
              *ngIf="mobilenom?.invalid &&  mobilenom?.errors?.['maxlength']"
            >
              Mobile No. length should be exactly 12 characters
            </p>
            <p
              class="error"
              *ngIf="mobilenom?.invalid &&  mobilenom?.errors?.['minlength']"
            >
              Mobile No. length should be exactly 12 characters
            </p>
          </div>
        </div>
        <div class="inputDiv">
          <label>Your address</label>
          <div class="relativeDiv">
            <input
              formControlName="address"
              type="text"
              placeholder="Please enter address"
            />
            <img class="check" src="../../assets/imgs/check.png" />
          </div>
          <div
            class="error-container"
            *ngIf="address?.invalid && (address?.touched || address?.dirty)"
          >
            <p
              class="error"
              *ngIf="address?.invalid &&  address?.errors?.['required']"
            >
              Address Is Required
            </p>
            <p
              class="error"
              *ngIf="address?.invalid &&  address?.errors?.['maxlength']"
            >
              Address length should be max 25 characters
            </p>
            <p
              class="error"
              *ngIf="address?.invalid &&  address?.errors?.['minlength']"
            >
              Address length should be at least 6 characters
            </p>
          </div>
        </div>
        <div class="inputDiv">
          <label>Country of residence</label>
          <!-- <div class="relativeDiv">
          
          </div> -->
          <ng-select
            [items]="countries"
            bindLabel="name"
            bindValue="code"
            [clearable]="false"
            placeholder="Please select"
            class="ng-select"
            formControlName="country"
          >
          </ng-select>
        </div>
        <br />
        <div
          class="error-container"
          *ngIf="country?.invalid && (country?.touched || country?.dirty)"
        >
          <p
            class="error"
            *ngIf="country?.invalid &&  country?.errors?.['required']"
          >
            Select Country
          </p>
        </div>

        <button [disabled]="!stepTwoForm.valid" class="submitBtn" type="submit">Save & Continue</button>
      </form>
      <div class="safety">
        <img src="../../assets/imgs/lock.png" />
        <p>Your Info is safely secured</p>
      </div>
    </div>
  </div>
  <!--  -->
</div>
