<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
  rel="stylesheet"
/>
<div class="pageMainContainer">
  <img class="background" src="../../assets/imgs/background.png" />
  <div class="contentMainContainer">
    <div class="topContainer">
      <div class="backContainer">
        <img class="arrow_back" src="../../assets/imgs/arrow_back.png" />
        <a routerLink="/step2">Back</a>
      </div>
      <div class="stepContainer">
        <p class="step">STEP 03/03</p>
        <p class="personal">Bank Verification</p>
      </div>
    </div>
    <div class="contentContainer">
      <h1>Complete Your Profile!</h1>
      <p class="title">
        For the purpose of industry regulation, your <br />
        details are required.
      </p>
      <!-- <hr /> -->
      <div class="hrDiv"></div>
      <form [formGroup]="stepThreeForm" id="step2Form">
        <div class="inputDiv">
          <label>Bank verification number (BVN)</label>
          <div class="relativeDiv">
            <input
              formControlName="bank"
              type="text"
              placeholder="090912345567"
            />
            <img class="check" src="../../assets/imgs/check.png" />
          </div>
        </div>
        <div
          class="error-container"
          *ngIf="bank?.invalid && (bank?.touched || bank?.dirty)"
        >
          <p class="error" *ngIf="bank?.invalid &&  bank?.errors?.['required']">
            Bank verification number (BVN) Is Required
          </p>
          <p
            class="error"
            *ngIf="bank?.invalid &&  bank?.errors?.['maxlength']"
          >
            Bank verification number (BVN) length should be exactly 12
            characters
          </p>
          <p
            class="error"
            *ngIf="bank?.invalid &&  bank?.errors?.['minlength']"
          >
            Bank verification number (BVN) length should be exactly 12
            characters
          </p>
        </div>

        <!-- <div class="relativeDiv">
          
          </div> -->

        <button
          [disabled]="!stepThreeForm.valid"
          class="submitBtn"
          type="submit"
          routerLink="/signIn"
        >
          Save & Continue
        </button>
      </form>
      <div class="safety">
        <img src="../../assets/imgs/lock.png" />
        <p>Your Info is safely secured</p>
      </div>
    </div>
  </div>
  <!--  -->
</div>
