<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
  rel="stylesheet"
/>

<div class="mainContainer">
  <img class="background" src="../../assets/imgs/background.png" />
  <div class="contentMainContainer">
    <div class="alreadyContainer">
      <p>Already have an account?</p>
      <a> Sign In</a>
    </div>
    <div class="firstPageContentContainer">
      <h2>Join Us!</h2>
      <p class="title">
        To begin this journey, tell us what type of <br />
        account you'd be opening.
      </p>
      <div class="contentCardMainContainer">
        <div class="contentCardContainer">
          <div class="iconContainer">
            <img class="polygon" src="../../assets/imgs/Polygon 1.png" />
            <img class="relativeIcon" src="../../assets/imgs/user.png" />
          </div>
          <div class="text">
            <h3>Individual</h3>
            <p>
              Personal account to manage all you <br />
              activities.
            </p>
          </div>
          <img class="arrow-right" src="../../assets/imgs/arrow-right.png" />
        </div>
      </div>
      <div class="contentCardMainContainer">
        <div class="contentCardContainer">
          <div class="iconContainer">
            <img class="polygon" src="../../assets/imgs/Polygon 2.png" />
            <img class="relativeIcon" src="../../assets/imgs/briefcase.png" />
          </div>
          <div class="text">
            <h3>Business</h3>
            <p>
              Own or belong to a company, this is <br />
              for you.
            </p>
          </div>
          <img class="arrow-right" src="../../assets/imgs/arrow-right.png" />
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
