<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
  rel="stylesheet"
/>
<div class="pageMainContainer">
  <img class="background" src="../../assets/imgs/background.png" />
  <div class="contentMainContainer">
    <div class="topContainer">
      <div class="backContainer">
        <img class="arrow_back" src="../../assets/imgs/arrow_back.png" />
        <a>Back</a>
      </div>
      <div class="stepContainer">
        <p class="step">STEP 01/03</p>
        <p class="personal">Personal Info.</p>
      </div>
    </div>
    <div class="contentContainer">
      <h1>Register Individual Account!</h1>
      <p class="title">
        For the purpose of industry regulation, your <br />
        details are required.
      </p>
      <hr />
      <form>
        <div class="inputDiv">
          <label> Your fullname* </label>
          <input type="text" placeholder="Invictus Innocent" />
        </div>
        <div class="inputDiv">
          <label> Email address*</label>
          <input type="email" placeholder="Enter email address" />
        </div>
        <div class="inputDiv">
          <label> Create password* </label>
          <div class="relativeDivForShowBtn">
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              (ngModel)="(password)"
              placeholder="Enter Password"
              class="passInput"
            />
            <button class="showBtn" (click)="togglePasswordVisibility($event)">
              {{ showPassword ? "Hide" : "Show" }}
            </button>
          </div>
        </div>
        <div class="checkboxDiv">
          <input type="checkbox" id="terms" name="terms" value="terms" />
          <a>I agree to terms & conditions</a>
        </div>
        <button class="submitBtn" type="submit">Register Account</button>
      </form>
      <div class="hrDiv">
        <div class="hr"></div>
        <p>Or</p>
        <div class="hr"></div>
      </div>
      <button class="googleBtn">
        <span
          ><img class="googleIcon" src="../../assets/imgs/google.png" /></span
        >Register With Google
      </button>
    </div>
  </div>
  <!--  -->
</div>
